node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.git
.github
.gitignore
.vscode
*.md
.env
.env.*
*.log
coverage
tests
__tests__
jest.config.js
.eslintrc
.eslintignore
.prettierrc
.prettierignore
docker-compose*.yml
*.sh
*.sample
docs
**/dist
**/*.tgz
.idea
.dockerignore
Dockerfile* 