{
  "openapi": "3.0.3",
  "info": {
    "title": "Accessibility Service",
    "version": "1.0.0",
    "description": "索克生活无障碍服务API",
    "contact": {
      "name": "索克生活技术团队",
      "email": "tech@suoke.life",
      "url": "https://suoke.life"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.suoke.life/accessibility/v1",
      "description": "生产环境"
    },
    {
      "url": "https://api-staging.suoke.life/accessibility/v1",
      "description": "测试环境"
    }
  ],
  "paths": {
    "/blind-assistance/analyze-scene": {
      "post": {
        "tags": [
          "导盲服务"
        ],
        "summary": "场景分析",
        "description": "分析图像或视频中的场景，识别障碍物和导航信息",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "description": "用户ID"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "图像文件"
                  },
                  "location": {
                    "$ref": "#/components/schemas/Location"
                  }
                },
                "required": [
                  "user_id",
                  "image"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "场景分析成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SceneAnalysisResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/blind-assistance/detect-obstacles": {
      "post": {
        "tags": [
          "导盲服务"
        ],
        "summary": "障碍物检测",
        "description": "检测图像中的障碍物并提供导航建议",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "detection_sensitivity": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1
                  }
                },
                "required": [
                  "user_id",
                  "image"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "障碍物检测成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObstacleDetectionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/blind-assistance/navigation-guidance": {
      "post": {
        "tags": [
          "导盲服务"
        ],
        "summary": "导航指导",
        "description": "提供基于场景分析的导航指导",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string"
                  },
                  "current_location": {
                    "$ref": "#/components/schemas/Location"
                  },
                  "destination": {
                    "$ref": "#/components/schemas/Location"
                  },
                  "scene_data": {
                    "type": "object"
                  }
                },
                "required": [
                  "user_id",
                  "current_location"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "导航指导成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NavigationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/voice-assistance/speech-to-text": {
      "post": {
        "tags": [
          "语音助手"
        ],
        "summary": "语音转文字",
        "description": "将语音音频转换为文字",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string"
                  },
                  "audio": {
                    "type": "string",
                    "format": "binary"
                  },
                  "language": {
                    "type": "string",
                    "default": "zh-CN"
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "wav",
                      "mp3",
                      "m4a"
                    ]
                  }
                },
                "required": [
                  "user_id",
                  "audio"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "语音转文字成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpeechToTextResponse"
                }
              }
            }
          }
        }
      }
    },
    "/voice-assistance/text-to-speech": {
      "post": {
        "tags": [
          "语音助手"
        ],
        "summary": "文字转语音",
        "description": "将文字转换为语音音频",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  },
                  "voice": {
                    "type": "string",
                    "default": "female"
                  },
                  "speed": {
                    "type": "number",
                    "minimum": 0.5,
                    "maximum": 2.0,
                    "default": 1.0
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "wav",
                      "mp3"
                    ],
                    "default": "mp3"
                  }
                },
                "required": [
                  "user_id",
                  "text"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "文字转语音成功",
            "content": {
              "audio/mpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/sign-language/recognize": {
      "post": {
        "tags": [
          "手语识别"
        ],
        "summary": "手语识别",
        "description": "识别视频中的手语动作并转换为文字",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string"
                  },
                  "video": {
                    "type": "string",
                    "format": "binary"
                  },
                  "language": {
                    "type": "string",
                    "default": "csl"
                  }
                },
                "required": [
                  "user_id",
                  "video"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "手语识别成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignLanguageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/screen-reading/read-content": {
      "post": {
        "tags": [
          "屏幕阅读"
        ],
        "summary": "内容阅读",
        "description": "读取并解析屏幕内容",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  },
                  "content_type": {
                    "type": "string",
                    "enum": [
                      "html",
                      "text",
                      "pdf"
                    ]
                  },
                  "reading_speed": {
                    "type": "string",
                    "enum": [
                      "slow",
                      "normal",
                      "fast"
                    ]
                  }
                },
                "required": [
                  "user_id",
                  "content"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "内容阅读成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScreenReadingResponse"
                }
              }
            }
          }
        }
      }
    },
    "/content-conversion/convert": {
      "post": {
        "tags": [
          "内容转换"
        ],
        "summary": "内容格式转换",
        "description": "转换内容格式以提高可访问性",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "source_format": {
                    "type": "string"
                  },
                  "target_format": {
                    "type": "string"
                  },
                  "accessibility_options": {
                    "type": "object"
                  }
                },
                "required": [
                  "user_id",
                  "file",
                  "target_format"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "内容转换成功",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "系统"
        ],
        "summary": "健康检查",
        "description": "检查服务健康状态",
        "responses": {
          "200": {
            "description": "服务健康",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/health/ready": {
      "get": {
        "tags": [
          "系统"
        ],
        "summary": "就绪检查",
        "description": "检查服务是否就绪",
        "responses": {
          "200": {
            "description": "服务就绪"
          },
          "503": {
            "description": "服务未就绪"
          }
        }
      }
    },
    "/health/live": {
      "get": {
        "tags": [
          "系统"
        ],
        "summary": "存活检查",
        "description": "检查服务是否存活",
        "responses": {
          "200": {
            "description": "服务存活"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Location": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "altitude": {
            "type": "number"
          }
        },
        "required": [
          "latitude",
          "longitude"
        ]
      },
      "SceneAnalysisResponse": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "scene_description": {
            "type": "string"
          },
          "objects": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "confidence": {
                  "type": "number"
                },
                "position": {
                  "type": "object"
                }
              }
            }
          },
          "navigation_suggestions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ObstacleDetectionResponse": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "obstacles": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "distance": {
                  "type": "number"
                },
                "direction": {
                  "type": "string"
                },
                "severity": {
                  "type": "string",
                  "enum": [
                    "low",
                    "medium",
                    "high"
                  ]
                }
              }
            }
          },
          "safe_path": {
            "type": "object"
          }
        }
      },
      "NavigationResponse": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "instructions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "estimated_time": {
            "type": "number"
          },
          "difficulty_level": {
            "type": "string"
          }
        }
      },
      "SpeechToTextResponse": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "text": {
            "type": "string"
          },
          "confidence": {
            "type": "number"
          },
          "language": {
            "type": "string"
          }
        }
      },
      "SignLanguageResponse": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "recognized_text": {
            "type": "string"
          },
          "confidence": {
            "type": "number"
          },
          "gestures": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ScreenReadingResponse": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "processed_content": {
            "type": "string"
          },
          "reading_time": {
            "type": "number"
          },
          "accessibility_score": {
            "type": "number"
          }
        }
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "healthy",
              "degraded",
              "unhealthy"
            ]
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "version": {
            "type": "string"
          },
          "uptime_seconds": {
            "type": "integer"
          },
          "checks": {
            "type": "object"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "object"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "请求参数错误",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "未授权访问",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalError": {
        "description": "服务器内部错误",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ]
}